//================= color =================//
$main-color: #d41443;
$white-color: #ffffff;
$accent-color: #ffa5ba;
$text-color: #000000;
$secondary-text-color: rgb(144, 126, 130);
$burger-color: #e17992;
$text-underline-color: #e1e1e1;
$slider-btn-color: #d9d9d9;
// card colors
$card-pink: #ffb8ca;
$card-coffee: rgb(240, 209, 165);
$card-green: #c2e297;

//================= bg =================//
$main-bg-color: #fff5f6;
$hero-bg: #ffb8ca;

//================= fonts =================//
$mainFont: 'DM Sans', sans-serif;
$secondaryFont: 'Titan One', sans-serif;
