//================= color =================//
$main-color: #d41443;
$white-color: #ffffff;
$accent-color: #ffa5ba;
$text-color: #000000;
$secondary-text-color: #907e82;
$burger-color: #e17992;

// card colors
$card-pink: #ffb8ca;
$card-coffee: #f0d1a5;
$card-green: #c2e297;

//================= fonts =================//
$mainFont: 'DM Sans', sans-serif;
$secondaryFont: 'Titan One', sans-serif;
