// HEADER

.page-header {
  background-color: $card-pink;
  padding-top: 6px;

  @media screen and (min-width: 768px) {
    padding-top: 37px;
    &__box {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.logo-menu-box {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    flex-grow: 1;
    margin-right: 30px;
  }
}

// NAVIGATION

.menu {
  @media screen and (max-width: 1279px) {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    transform: translateX(101%);
    transition: transform 500ms;

    &__box {
      position: relative;
      width: 250px;
      height: 100vh;
      padding-top: 60px;
      background-color: #e17992;

      @media screen and (min-width: 768px) {
        width: 254px;
      }
    }
    &.is-open {
      transform: translateX(-0);
    }
  }
}

.site-nav {
  &__link {
    width: 100%;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.28;
    color: $white-color;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__link:hover,
  &__link:focus {
    color: #ecebeb;
  }
  &__link.current:focus,
  &__link.current:hover {
    color: #c7133e;
  }
  &__link.current {
    color: $main-color;
  }

  @media screen and (max-width: 1279px) {
    &__item {
      border-bottom: solid #e18298 1px;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 21px;
    }
    &__item:first-child {
      border-top: solid #e18298 1px;
    }
  }
  @media screen and (min-width: 768px) {
    &__item {
      padding-left: 24px;
    }
  }

  @media screen and (min-width: 1280px) {
    display: flex;

    &__link {
      font-size: 16px;
      line-height: 1.31;
    }
  }
}

// КНОПКИ ВЫЗОВА И ЗАКРЫТИЯ MOBILE MENU

.button-menu {
  @media screen and (min-width: 1280px) {
    display: none;
  }

  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.button-cross {
  @media screen and (min-width: 1280px) {
    display: none;
  }

  display: inline-flex;
  position: absolute;
  top: 23px;
  right: 28px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

// BUTTON'S BUY NOW

.btn-buy-now {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;

  background: #ffffff;
  border-radius: 22px;
  border: none;
  color: $main-color;

  cursor: pointer;

  &:hover,
  &:focus {
    background-color: #ecebeb;
  }

  &__menu {
    margin-bottom: 19px;
    padding: 12px 48px 12px 62px;
    @media screen and (min-width: 768px) {
      padding: 12px 44px 12px 51px;
    }
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__main {
    @media screen and (max-width: 767px) {
      display: none;
    }
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 12px 37px 12px 40px;
  }

  &__icon--menu {
    height: 10px;
    width: 8px;
    margin-left: 28px;
    padding-top: 2px;
    @media screen and (min-width: 768px) {
      margin-left: 21px;
    }
  }
  &__icon--main {
    height: 10px;
    width: 7px;
    margin-left: 13px;
    padding-top: 2px;
  }
}

.button-wrapper {
  display: flex;
  justify-content: center;

  @media screen and (min-width: 1280px) {
    display: none;
  }
}
