// HERO

.section-hero {
  background-color: $card-pink;
  width: 100%;

  padding-top: 137px;
  padding-bottom: 160px;

  @media screen and (max-width: 767px) {
    overflow-x: hidden;
  }

  @media screen and (min-width: 768px) {
    padding-top: 15px;
    padding-bottom: 59px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 84px;
    padding-bottom: 102px;
  }

  &__container {
    position: relative;
  }
}

.hero-box {
  z-index: 10;
  position: relative;
  display: flex;
  flex-direction: column;
  &__container {
    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: space-between;
    }
  }
}

.hero-ellipse {
  z-index: 5;

  border-radius: 50%;
  background-color: #ffa5ba;
  position: absolute;

  @media screen and (max-width: 767px) {
    width: 346px;
    height: 346px;
    right: -62px;
    top: -110px;
  }

  @media screen and (min-width: 768px) {
    width: 324px;
    height: 322px;

    bottom: -13px;
    left: 307px;
  }
  @media screen and (min-width: 1280px) {
    width: 538px;
    height: 538px;
    bottom: -27px;
    left: 544px;
  }
}

.hero-icecream-picture {
  z-index: 7;
  position: absolute;
  @media screen and (max-width: 767px) {
    right: 30px;
    bottom: -160px;
  }
  @media screen and (min-width: 768px) {
    right: 247px;
    bottom: -59px;
  }
  @media screen and (min-width: 1280px) {
    right: 420px;
    bottom: -102px;
  }
}

.hero-tasty-picture {
  z-index: 7;
  @media screen and (max-width: 767px) {
    display: none;
  }
  position: absolute;
  bottom: -59px;
  right: 36px;

  @media screen and (min-width: 1280px) {
    bottom: -102px;
    right: 109px;
  }
}

.hero-milk-picture {
  @media screen and (max-width: 767px) {
    display: none;
  }
  position: absolute;
  bottom: -31px;
  left: 36px;

  @media screen and (min-width: 1280px) {
    bottom: -57px;
    left: 146px;
  }
}

// HERO TITLE

.hero-title-box {
  width: 218px;
  height: 106px;
  margin-bottom: 19px;

  @media screen and (min-width: 768px) {
    width: 162px;
    height: 80px;
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1280px) {
    width: 277px;
    height: 137px;
    margin-left: 69px;
  }
}

.hero-title {
  font-family: $secondaryFont;
  font-size: 26px;
  line-height: 1.03;
  text-align: left;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $white-color;

  &__accent {
    font-size: 48px;
    line-height: 0.95;
    text-align: left;
    color: $main-color;
  }

  @media screen and (min-width: 768px) {
    font-size: 22px;
    line-height: 1.18;

    &__accent {
      font-size: 34px;
      line-height: 0.91;
    }
  }
  @media screen and (min-width: 1280px) {
    font-size: 38px;
    line-height: 1.15;

    &__accent {
      font-size: 58px;
      line-height: 0.91;
    }
  }
}

// BLOCK 16 CAFES 23 TRUCKS

.available-box {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (max-width: 1279px) {
    margin-right: 10px;
  }

  display: flex;
  justify-content: flex-end;
  text-align: right;
}

.available-list {
  &__number {
    font-family: $secondaryFont;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: 0.04em;
    color: #d41443;
    position: relative;
  }

  &__text {
    font-family: $mainFont;
    font-size: 8px;
    line-height: 10px;
    color: #ffffff;
  }

  &__item:nth-last-child(3) {
    margin-bottom: 14px;
  }

  @media screen and (min-width: 1279px) {
    &__number {
      font-size: 46px;
      line-height: 1.15;
    }
    &__text {
      font-size: 14px;
      line-height: 1.28;
    }
    &__item:nth-last-child(3) {
      margin-bottom: 18px;
    }
  }

  @media screen and (min-width: 768px) {
    &__number::after {
      content: '';
      width: 16px;
      height: 16px;
      background-color: $white-color;
      border-radius: 50%;
      position: absolute;
      right: -8px;
      top: -2px;
      z-index: -1;
    }
  }
  @media screen and (min-width: 1280px) {
    &__number::after {
      width: 30px;
      height: 30px;
      right: -16px;
      top: -4px;
    }
  }
}

// HERO BUTONS

.hero-buttons-list {
  display: flex;
  &__link {
    display: flex;
    align-items: center;
    text-align: center;

    padding: 9px 14px;
    font-family: inherit;
    font-size: 8px;
    line-height: 10px;

    color: $white-color;
    background: $main-color;

    border-radius: 20px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link--second {
    color: $main-color;
    background: $white-color;
  }
  &__link:hover,
  &__link:focus {
    background-color: #c7133e;
  }
  &__link--second:hover,
  &__link--second:focus {
    background-color: #ecebeb;
  }

  &__item {
    &:first-child {
      margin-right: 8px;
    }
  }

  @media screen and (min-width: 1280px) {
    margin-left: 69px;

    &__item {
      &:first-child {
        margin-right: 15px;
      }
    }
    &__link {
      padding: 15px 21px;
      font-size: 14px;
      line-height: 18px;
      height: 40px;
    }
  }
}

// BLOCK HERO TEXT

.hero-text-box {
  @media screen and (max-width: 767px) {
    display: none;
  }

  margin-left: 118px;
  margin-top: 66px;
  width: 114px;
  height: 48px;

  &__text {
    font-size: 8px;
    line-height: 1.5;
    color: $white-color;
    margin: 0;
    padding: 0;
  }

  &__button {
    margin-top: 7px;
  }
  &__button--icon {
    width: 18px;
    height: 18px;
  }

  @media screen and (min-width: 1280px) {
    width: 200px;
    height: 78px;
    margin-left: 249px;
    margin-top: 112px;
    &__text {
      font-size: 14px;
      line-height: 1.4;
    }
    &__button {
      margin-top: 20px;
    }
    &__button--icon {
      width: 26px;
      height: 26px;
    }
  }
}

.animate__animated.animate__rotateIn {
  --animate-duration: 2s;
}
.animate__animated.animate__zoomIn {
  --animate-duration: 2s;
}
