.products-cardset__descr {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0px 40px;

  font-family: $mainFont;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  letter-spacing: 0.04em;

  color: $white-color;

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
    padding: 0px 11px;
    line-height: 1.76;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 62px;
    padding: 0px 44px;
    font-size: 16px;
  }

  &::before {
    content: "";
    display: block;
    width: 26px;
    height: 6px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    background-image: url(../images/products/3points.svg);
  }
}

.products-cardset {
  padding: 0;
  margin-top: 144px;
  @media screen and (min-width: 768px) {
    display: flex;
    margin: 0px -10px;
    margin-top: 150px;
  }

  @media screen and (min-width: 1280px) {
    margin: 0px -15px;
    margin-top: 259px;
  }
}

.products-cardset__card {
  position: relative;
  padding-top: 161px;
  border-radius: 24px;

  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 130px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: -113px;
    
    display: block;
    width: 249px;
    height: 252px;

    @media screen and (max-width: 767px) {
      left: 50%;
      transform: translateX(-50%);
    }

    @media screen and (min-width: 768px) {
      top: -104px;

      width: 220px;
      height: 226px;
    }

    @media screen and (min-width: 1280px) {
      top: -210px;
      
      width: 330px;
      height: 335px;
    }
  }

  &:nth-child(1) {
    background-color: $card-pink;

    &::before {
      background-image: url(../images/products/mobile/product1.png);

      @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
        background-image: url(../images/products/mobile/product1@2x.png);
        background-size: contain;
      }

      @media screen and (min-width: 768px) {
        background-image: url(../images/products/tablet/product1.png);

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
          background-image: url(../images/products/tablet/product1@2x.png);
          background-size: contain;
        }
      }

      @media screen and (min-width: 1280px) {
        background-image: url(../images/products/desktop/product1.png);
        
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
          background-image: url(../images/products/desktop/product1@2x.png);
          background-size: contain;
        }
      }
    }
  }

  &:nth-child(2) {
    background-color: $card-coffee;

    &::before {
      background-image: url(../images/products/mobile/product2.png);

      @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
        background-image: url(../images/products/mobile/product2@2x.png);
        background-size: contain;
      }

      @media screen and (min-width: 768px) {
        background-image: url(../images/products/tablet/product2.png);

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
          background-image: url(../images/products/tablet/product2@2x.png);
          background-size: contain;
        }
      }

      @media screen and (min-width: 1280px) {
        background-image: url(../images/products/desktop/product2.png);

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
          background-image: url(../images/products/desktop/product2@2x.png);
          background-size: contain;
        }
      }
    }
  }

  &:nth-child(3) {
    background-color: $card-green;

    &::before {
      background-image: url(../images/products/mobile/product3.png);

      @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
        background-image: url(../images/products/mobile/product3@2x.png);
        background-size: contain;
      }

      @media screen and (min-width: 768px) {
        background-image: url(../images/products/tablet/product3.png);

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
          background-image: url(../images/products/tablet/product3@2x.png);
          background-size: contain;
        }
      }

      @media screen and (min-width: 1280px) {
        background-image: url(../images/products/desktop/product3.png);

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
          background-image: url(../images/products/desktop/product3@2x.png);
          background-size: contain;
        }
      }
    }
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 6 * 10px) / 3);
    margin: 0px 10px;
    padding-top: 152px;
  }

  @media screen and (min-width: 1280px) {
    width: calc((100% - 6 * 15px) / 3);
    margin: 0px 15px;
    padding-top: 163px;
  }
}

.products-btn {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 41px;
  width: 40px;
  height: 40px;
  border-radius: 50%;

  border: none;
  background-color: $white-color;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and(min-width: 768px) {
    margin-bottom: 40px;
  }

  @media screen and(min-width: 1280px) {
    margin-bottom: 50px;
  }
}

.icon-arrow {
  fill: $main-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 13px;
  height: 13px;
}

.products-btn:hover,
.products-btn:focus {
  background-color: $main-color;
}

.products-btn:hover .icon-arrow,
.products-btn:focus .icon-arrow {
  fill: $white-color;
}

.circles-row {
  display: flex;
  justify-content: center;
  margin-top: 30px;

  @media screen and(min-width: 1280px) {
    margin-bottom: 32px;
  }
}

.circle {
  width: 6px;
  height: 6px;
  border-radius: 50%;

  background-color: $white-color;

  &:not(:last-child) {
    margin-right: 4px;
  }
}
