.reviews {
  background-color: $white-color;
  padding-bottom: 86px;
  @media screen and (min-width: 768px) {
    padding-bottom: 119px;
  }
  @media screen and (min-width: 1280px) {
    padding-bottom: 132px;
  }
}

.gallery {
  background: linear-gradient(to bottom, $main-bg-color 48px, $white-color 48px);
  padding-bottom: 80px;
  @media screen and (min-width: 768px) {
    background: linear-gradient(to bottom, $main-bg-color 104px, $white-color 104px);
    padding-bottom: 121px;
  }
  @media screen and (min-width: 1280px) {
    background: linear-gradient(to bottom, $main-bg-color 171px, $white-color 171px);
    padding-bottom: 123px;
  }
}

.products {
  padding-top: 121px;
  padding-bottom: 98px;
  text-align: center;

  background-color: $white-color;

  @media screen and (min-width: 768px) {
    padding-top: 122px;
    padding-bottom: 112px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 127px;
    padding-bottom: 119px;
  }
}

.outlets {
  padding-bottom: 83px;
  background: linear-gradient(to bottom, $white-color 84px, $main-bg-color 84px);
  @media screen and (min-width: 768px) {
    background: linear-gradient(to bottom, $white-color 78px, $main-bg-color 78px);
    padding-bottom: 158px;
  }
  @media screen and (min-width: 1280px) {
    padding-bottom: 165px;
    background-image: url(../images/bg/outlets-bg.png),
      linear-gradient(to bottom, $white-color 102px, $main-bg-color 102px);
    background-position: 0 90px, 0 0;
    background-size: 100%;
    background-repeat: no-repeat;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/bg/outlets-bg@2x.png),
        linear-gradient(to bottom, $white-color 102px, $main-bg-color 102px);
    }
  }
}
