.reviews {
  background-color: $white-color;
  padding-bottom: 86px;
  @media screen and (min-width: 768px) {
    padding-bottom: 119px;
  }
  @media screen and (min-width: 1280px) {
    padding-bottom: 132px;
  }
}

.gallery {
  background: linear-gradient(to bottom, $main-bg-color 48px, $white-color 48px);
  padding-bottom: 80px;
  @media screen and (min-width: 768px) {
    background: linear-gradient(to bottom, $main-bg-color 104px, $white-color 104px);
    padding-bottom: 121px;
  }
  @media screen and (min-width: 1280px) {
    background: linear-gradient(to bottom, $main-bg-color 171px, $white-color 171px);
    padding-bottom: 123px;
  }
}
