<section class="section-about">
    <div class="container">
        <p class="title title_subtitle">tradition and love</p>
        <h2 class="title title_about">how it’s made?</h2>
       
        <div class="section-about__description">
        <picture>
            <source srcset="./images/about/cow-mobile.png 1x, ./images/about/cow-mobile@2x.png 2x" type="image/png"
                media="(min-width: 480px) and (max-width: 767px)">
            <source srcset="./images/about/cow-tab.png 1x, ./images/about/cow-tab@2x.png 2x" type="image/png"
                media="(min-width: 768px) and (max-width: 1199px)">
            <source srcset="./images/about/cow-desk.png 1x, ./images/about/cow-desk@2x.png 2x" type="image/png"
                media="(min-width: 1200px)">
            <img class="section-about__img" src="./images/about/cow-mobile.png" alt="cow">
        </picture>
        <div class="section-about__aside">
            <ul class=section-about__list>
        <li class="section-about__item"> <p class="section-about__text">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus,
            faucibus lorem eget, egestas eros.
            Maecenas eleifend erat at justo fringilla.</p></li>
        <li class="section-about__item"><p class="section-about__text section-about__text_color">Curabitur lacinia enim at ex blandit, vel pellentesque
            odio elementum. Mauris rhoncus orci in imperdiet placerat.
            Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.</p></li>
        <li class="section-about__item"><p class="section-about__text section-about__text_color">Aliquam erat volutpat. Aenean accumsan.</p></li>
            </ul>
        
        <button class="button" type="button">Read more
            <svg class="arrow-icon" width="8" height="10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="m1.616 1 4.428 4-4.428 4" stroke="#D41443" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </button>
        </div>
        </div>
    </div>
</section>