<div data-modal-three class="backdrop is-hidden">
  <div class="contacts-modal">
    <button data-modal-close-three class="modal-button" type="button">
      <svg class="modal-svg" width="14" height="14">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <p class="section-subtitle">Our Locations</p>
    <ul>
      <li class="section-item">
        <p class="section-title">Chicago</p>
        <div>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4312528.187604061!2d-89.61684999712548!3d41.721658336060834!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2c3cd0f4cbed%3A0xafe0a6ad09c0c000!2z0KfQuNC60LDQs9C-LCDQmNC70LvQuNC90L7QudGBLCDQodCo0JA!5e0!3m2!1sru!2sua!4v1643637122295!5m2!1sru!2sua"
            allowfullscreen=""
            loading="lazy"
          ></iframe>
        </div>
        <p class="contacts-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis. Lorem ipsum dolor sit amet, consectetur
          adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua
          facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
      </li>
      <li class="section-item">
        <p class="section-title">Los Angeles</p>
        <div>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9361714.96883704!2d-112.07558725617706!3d35.89088597768332!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c75ddc27da13%3A0xe22fdf6f254608f4!2z0JvQvtGBLdCQ0L3QtNC20LXQu9C10YEsINCa0LDQu9C40YTQvtGA0L3QuNGPLCDQodCo0JA!5e0!3m2!1sru!2sua!4v1643637011405!5m2!1sru!2sua"
            allowfullscreen=""
            loading="lazy"
          ></iframe>
        </div>
        <p class="contacts-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis. Lorem ipsum dolor sit amet, consectetur
          adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua
          facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
      </li>
      <li class="section-item">
        <p class="section-title">Los Angeles</p>
        <div>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8769877.768123543!2d-80.45148978825642!3d40.63100142339385!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2z0J3RjNGOLdCZ0L7RgNC6LCDQodCo0JA!5e0!3m2!1sru!2sua!4v1643637164278!5m2!1sru!2sua"
            allowfullscreen=""
            loading="lazy"
          ></iframe>
        </div>
        <p class="contacts-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis. Lorem ipsum dolor sit amet, consectetur
          adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua
          facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
      </li>
    </ul>
  </div>
</div>

<!--Модальное окно, открывающееся по клику на вторую кнопку-->

<div data-modal-two class="backdrop is-hidden">
  <div class="contacts-modal">
    <button data-modal-close-two class="modal-button" type="button">
      <svg class="modal-svg" width="14" height="14">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <p class="section-subtitle">Franchise</p>
    <p class="contacts-description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et. dolore magna aliqua facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing
      elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. Lorem
      ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
      et. dolore magna aliqua facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit,
      sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. Lorem ipsum
      dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.
      dolore magna aliqua facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
      eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. Lorem ipsum dolor sit
      amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
      aliqua facilisis.
    </p>
    <p class="contacts-description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et. dolore magna aliqua facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing
      elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. Lorem
      ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
      et. dolore magna aliqua facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit,
      sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. Lorem ipsum
      dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.
      dolore magna aliqua facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
      eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. Lorem ipsum dolor sit
      amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
      aliqua facilisis.
    </p>
  </div>
</div>
