<footer class="footer">
    <div class="container">
        <div class="footer-wrapper">
            <div class="footer-title">
                <p class="footer-title__text">homemade ice cream made</p>
                <p class="footer-title__subtitle">with passion</p>
            </div>
            <div class="socials-footer">
                <ul class="socials-list">
                    <li class="socials-list__item">
                        <a class="socials-list__link" href="https://github.com/" target="_blank" rel="noreferrer" aria-label="git-hab">
                            <svg class="socials__icon" width="20px" height="20px">
                                <use href="./images/sprite.svg#icon-git-hab"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="socials-list__item">
                        <a class="socials-list__link" href="https://web.telegram.org/z/" target="_blank" rel="noreferrer" aria-label="telegram">
                            <svg class="socials__icon" width="20px" height="20px">
                                <use href="./images/sprite.svg#icon-telegram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="socials-list__item">
                        <a class="socials-list__link" href="https://www.facebook.com/" aria-label="facebook" target="_blank" rel="noreferrer">
                            <svg class="socials__icon" width="20px" height="20px">
                                <use href="./images/sprite.svg#icon-facebook"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
                <div class="contacts-footer">
                    <p class="contacts-footer__text">Feel free to contact</p>
                    <a href="+61038766284" class="contacts-footer__fone"> +61 (0) 383 766 284 </a>
                </div>
            </div>
        </div>
    </div>
    <div class="line"></div>
    <p class="text">© 2019 - IceCream. All Rights Reserved.</p>
</footer>
