<section class="gallery">
    <div class="container">
        <h2 class="title title_hidden">Gallery</h2>
        <ul class="gallery-items">
            <li class="gallery-items__item gallery-items__item_first">
                <img class="gallery-items__img" srcset="
                    ./images/gallery/icecream6.jpg 1x,
                    ./images/gallery/icecream6@2x.jpg 2x" src="./images/gallery/icecream6.jpg"
                    alt="customer from Los Angeles" >
            </li>
            <li class="gallery-items__item gallery-items__item_second">
                <img class="gallery-items__img" srcset="
                    ./images/gallery/icecream2.jpg 1x,
                    ./images/gallery/icecream2@2x.jpg 2x" src="./images/gallery/icecream2.jpg"
                    alt="customer from Los Angeles" >
            </li>
            <li class="gallery-items__item gallery-items__item_second_bottom">
                <img class="gallery-items__img" srcset="
                    ./images/gallery/icecream9.jpg 1x,
                    ./images/gallery/icecream9@2x.jpg 2x" src="./images/gallery/icecream9.jpg"
                    alt="customer from Los Angeles" >
            </li>
            <li class="gallery-items__item gallery-items__item_fifth">
                <img class="gallery-items__img" srcset="
                    ./images/gallery/icecream7.jpg 1x,
                    ./images/gallery/icecream7@2x.jpg 2x" src="./images/gallery/icecream7.jpg"
                    alt="customer from Los Angeles" >
            </li>
            <li class="gallery-items__item gallery-items__item_third_bottom">
                <img class="gallery-items__img" srcset="
                    ./images/gallery/icecream3.jpg 1x,
                    ./images/gallery/icecream3@2x.jpg 2x" src="./images/gallery/icecream3.jpg"
                    alt="customer from Los Angeles" >
            </li>
            <li class="gallery-items__item gallery-items__item_last">
                <img class="gallery-items__img" srcset="
                    ./images/gallery/icecream5.jpg 1x,
                    ./images/gallery/icecream5@2x.jpg 2x" src="./images/gallery/icecream5.jpg"
                    alt="customer from Los Angeles" >
            </li>
            <li class="gallery-items__item gallery-items__item_fourth">
                <img class="gallery-items__img" srcset="
                    ./images/gallery/icecream4.jpg 1x,
                    ./images/gallery/icecream4@2x.jpg 2x" src="./images/gallery/icecream4.jpg"
                    alt="customer from Los Angeles" >
            </li>
            <li class="gallery-items__item gallery-items__item_fourth_bottom">
                <img class="gallery-items__img" srcset="
                    ./images/gallery/icecream1.jpg 1x,
                    ./images/gallery/icecream1@2x.jpg 2x" src="./images/gallery/icecream1.jpg"
                    alt="customer from Los Angeles" >
            </li>
            <li class="gallery-items__item gallery-items__item_fifth_bottom">
                <img class="gallery-items__img" srcset="
                    ./images/gallery/icecream8.jpg 1x,
                    ./images/gallery/icecream8@2x.jpg 2x" src="./images/gallery/icecream8.jpg"
                    alt="customer from Los Angeles" >
            </li>
            <li class="gallery-items__item gallery-items__item_third">
                <img class="gallery-items__img gallery-items__img_bigger" srcset="
                    ./images/gallery/icecream10.jpg 1x,
                    ./images/gallery/icecream10@2x.jpg 2x" src="./images/gallery/icecream10.jpg" alt="customer from Los Angeles"
                    >

            </li>
        </ul>
    </div>
</section>