<section class="gallery">
    <div class="container">
        <h2 class="title title_hidden">Gallery</h2>
        <ul class="gallery-items">
            <li class="gallery-items__item gallery-items__item_first">
                <picture>
                    <source srcset="
                        ./images/gallery/mobile/icecream6_mobile.jpg 1x,
                        ./images/gallery/mobile/icecream6_mobile@2x.jpg 2x" media="(max-width: 768px)">   
                    <source srcset="
                        ./images/gallery/desktop/icecream6_desktop.jpg 1x,
                        ./images/gallery/desktop/icecream6_desktop@2x.jpg 2x" media="(min-width: 1280px)">
                    <source srcset="
                        ./images/gallery/tablet/icecream6_tablet.jpg 1x,
                        ./images/gallery/tablet/icecream6_tablet@2x.jpg 2x" media="(min-width: 768px">
                    <img class="gallery-items__img" src="./images/gallery/desktop/icecream6_desktop.jpg" alt="chocolate ice cream" width="141" height="141">
                </picture>
            </li>
            <li class="gallery-items__item gallery-items__item_second">
                <picture>
                    <source srcset="
                        ./images/gallery/mobile/icecream2_mobile.jpg 1x,
                        ./images/gallery/mobile/icecream2_mobile@2x.jpg 2x" media="(max-width: 768px)">               
                    <source srcset="
                        ./images/gallery/desktop/icecream2_desktop.jpg 1x,
                        ./images/gallery/desktop/icecream2_desktop@2x.jpg 2x" media="(min-width: 1280px)">
                    <source srcset="
                        ./images/gallery/tablet/icecream2_tablet.jpg 1x,
                        ./images/gallery/tablet/icecream2_tablet@2x.jpg 2x" media="(min-width: 768px">
                    <img class="gallery-items__img" src="./images/gallery/desktop/icecream2_desktop.jpg" alt="berry ice cream"
                        width="141" height="141">
                </picture>
            </li>
            <li class="gallery-items__item gallery-items__item_second_bottom">
                <picture>
                    <source srcset="
                        ./images/gallery/mobile/icecream9_mobile.jpg 1x,
                        ./images/gallery/mobile/icecream9_mobile@2x.jpg 2x" media="(max-width: 768px)">
                    <source srcset="
                        ./images/gallery/desktop/icecream9_desktop.jpg 1x,
                        ./images/gallery/desktop/icecream9_desktop@2x.jpg 2x" media="(min-width: 1280px)">
                    <source srcset="
                        ./images/gallery/tablet/icecream9_tablet.jpg 1x,
                        ./images/gallery/tablet/icecream9_tablet@2x.jpg 2x" media="(min-width: 768px">
                    <img class="gallery-items__img" src="./images/gallery/desktop/icecream9_desktop.jpg" alt="coffee with ice cream"
                        width="141" height="141">
                </picture>
            </li>
            <li class="gallery-items__item gallery-items__item_fifth">
                <picture>
                    <source srcset="
                        ./images/gallery/mobile/icecream7_mobile.jpg 1x,
                        ./images/gallery/mobile/icecream7_mobile@2x.jpg 2x" media="(max-width: 768px)">
                    <source srcset="
                        ./images/gallery/desktop/icecream7_desktop.jpg 1x,
                        ./images/gallery/desktop/icecream7_desktop@2x.jpg 2x" media="(min-width: 1280px)">
                    <source srcset="
                        ./images/gallery/tablet/icecream7_tablet.jpg 1x,
                        ./images/gallery/tablet/icecream7_tablet@2x.jpg 2x" media="(min-width: 768px">
                    <img class="gallery-items__img" src="./images/gallery/desktop/icecream7_desktop.jpg" alt="ice cream selection"
                        width="141" height="141">
                </picture>
            </li>
            <li class="gallery-items__item gallery-items__item_third_bottom">
                <picture>
                    <source srcset="
                        ./images/gallery/mobile/icecream3_mobile.jpg 1x,
                        ./images/gallery/mobile/icecream3_mobile@2x.jpg 2x" media="(max-width: 768px)">
                    <source srcset="
                        ./images/gallery/desktop/icecream3_desktop.jpg 1x,
                        ./images/gallery/desktop/icecream3_desktop@2x.jpg 2x" media="(min-width: 1280px)">
                    <source srcset="
                        ./images/gallery/tablet/icecream3_tablet.jpg 1x,
                        ./images/gallery/tablet/icecream3_tablet@2x.jpg 2x" media="(min-width: 768px">
                    <img class="gallery-items__img" src="./images/gallery/desktop/icecream3_desktop.jpg" alt="happy child with ice cream"
                        width="141" height="141">
                </picture>
            </li>
            <li class="gallery-items__item gallery-items__item_last">
                <picture>
                    <source srcset="
                        ./images/gallery/mobile/icecream5_mobile.jpg 1x,
                        ./images/gallery/mobile/icecream5_mobile@2x.jpg 2x" media="(max-width: 768px)">
                    <source srcset="
                        ./images/gallery/desktop/icecream5_desktop.jpg 1x,
                        ./images/gallery/desktop/icecream5_desktop@2x.jpg 2x" media="(min-width: 1280px)">
                    <source srcset="
                        ./images/gallery/tablet/icecream5_tablet.jpg 1x,
                        ./images/gallery/tablet/icecream5_tablet@2x.jpg 2x" media="(min-width: 768px">
                    <img class="gallery-items__img" src="./images/gallery/desktop/icecream5_desktop.jpg"
                        alt="latte with ice cream" width="141" height="141">
                </picture>
            </li>
            <li class="gallery-items__item gallery-items__item_fourth">
                <picture>
                    <source srcset="
                        ./images/gallery/mobile/icecream4_mobile.jpg 1x,
                        ./images/gallery/mobile/icecream4_mobile@2x.jpg 2x" media="(max-width: 768px)">
                    <source srcset="
                        ./images/gallery/desktop/icecream4_desktop.jpg 1x,
                        ./images/gallery/desktop/icecream4_desktop@2x.jpg 2x" media="(min-width: 1280px)">
                    <source srcset="
                        ./images/gallery/tablet/icecream4_tablet.jpg 1x,
                        ./images/gallery/tablet/icecream4_tablet@2x.jpg 2x" media="(min-width: 768px">
                    <img class="gallery-items__img" src="./images/gallery/desktop/icecream4_desktop.jpg"
                        alt="ice cream with syrup" width="141" height="141">
                </picture>
            </li>
            <li class="gallery-items__item gallery-items__item_fourth_bottom">
                <picture>
                    <source srcset="
                        ./images/gallery/mobile/icecream1_mobile.jpg 1x,
                        ./images/gallery/mobile/icecream1_mobile@2x.jpg 2x" media="(max-width: 768px)">
                    <source srcset="
                        ./images/gallery/desktop/icecream1_desktop.jpg 1x,
                        ./images/gallery/desktop/icecream1_desktop@2x.jpg 2x" media="(min-width: 1280px)">
                    <source srcset="
                        ./images/gallery/tablet/icecream1_tablet.jpg 1x,
                        ./images/gallery/tablet/icecream1_tablet@2x.jpg 2x" media="(min-width: 768px">
                    <img class="gallery-items__img" src="./images/gallery/desktop/icecream1_desktop.jpg" alt="happy customer"
                        width="141" height="141">
                </picture>
            </li>
            <li class="gallery-items__item gallery-items__item_fifth_bottom">
                <picture>
                    <source srcset="
                        ./images/gallery/mobile/icecream8_mobile.jpg 1x,
                        ./images/gallery/mobile/icecream8_mobile@2x.jpg 2x" media="(max-width: 768px)">
                    <source srcset="
                        ./images/gallery/desktop/icecream8_desktop.jpg 1x,
                        ./images/gallery/desktop/icecream8_desktop@2x.jpg 2x" media="(min-width: 1280px)">
                    <source srcset="
                        ./images/gallery/tablet/icecream8_tablet.jpg 1x,
                        ./images/gallery/tablet/icecream8_tablet@2x.jpg 2x" media="(min-width: 768px">
                    <img class="gallery-items__img" src="./images/gallery/desktop/icecream8_desktop.jpg" alt="dessert ice cream with"
                        width="141" height="141">
                </picture>
            </li>
            <li class="gallery-items__item gallery-items__item_third">
                <picture>
                    <source srcset="
                        ./images/gallery/mobile/icecream10_mobile.jpg 1x,
                        ./images/gallery/mobile/icecream10_mobile@2x.jpg 2x" media="(max-width: 768px)">
                    <source srcset="
                        ./images/gallery/desktop/icecream10_desktop.jpg 1x,
                        ./images/gallery/desktop/icecream10_desktop@2x.jpg 2x" media="(min-width: 1280px)">
                    <source srcset="
                        ./images/gallery/tablet/icecream10_tablet.jpg 1x,
                        ./images/gallery/tablet/icecream10_tablet@2x.jpg 2x" media="(min-width: 768px">
                    <img class="gallery-items__img gallery-items__img_bigger" src="./images/gallery/desktop/icecream10_desktop.jpg" alt="large selection of ice cream"
                        width="285" height="285">
                </picture>
            </li>
        </ul>
    </div>
</section>