<!-- HEADER -->
<header class="page-header" id="up">
  <div class="container page-header__box">
    <div class="logo-menu-box">
      <a href="./index.html">
        <img src="./img/logo.png" alt="логотип айскрим" />
      </a>
      <button type="button" class="button-menu" aria-expanded="false">
        <svg width="20px" height="20px" aria-label="вызов мобильного меню">
          <use
            class="button-menu__icon-burger"
            href="./icons/hero-header-sprite.svg#icon-burger"
          ></use>
        </svg>
      </button>
    </div>
    <!-- НАВИГАЦИЯ -->
    <div class="menu" data-menu>
      <div class="menu__box">
        <button type="button" class="button-cross" aria-expanded="false">
          <svg width="14px" height="14px" aria-label="скрыть мобильное меню">
            <use
              class="button-menu__icon-cross"
              href="./icons/hero-header-sprite.svg#icon-cross"
            ></use>
          </svg>
        </button>
        <div class="button-wrapper">
          <button class="btn-buy-now btn-buy-now__menu">
            Buy now
            <svg class="btn-buy-now__icon--menu">
              <use href="./icons/hero-header-sprite.svg#icon-bracket"></use>
            </svg>
          </button>
        </div>
        <nav>
          <ul class="site-nav">
            <li class="site-nav__item"><a href="" class="site-nav__link current">Home</a></li>
            <li class="site-nav__item"><a href="#adv" class="site-nav__link">About us</a></li>
            <li class="site-nav__item"><a href="#how" class="site-nav__link">How it's made?</a></li>
            <li class="site-nav__item">
              <a href="#products" class="site-nav__link">Our products</a>
            </li>
            <li class="site-nav__item"><a href="#contact" class="site-nav__link">Contact</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <button class="btn-buy-now btn-buy-now__main">
      Buy now
      <svg class="btn-buy-now__icon--main">
        <use href="./icons/hero-header-sprite.svg#icon-bracket"></use>
      </svg>
    </button>
  </div>
</header>
