<!-- HERO -->
<section class="section-hero">
  <div class="container container-hero">
    <div class="hero-box">
      <div class="hero-title-box">
        <h1 class="hero-title">
          ice cream made with <span class="hero-title__accent">passion</span>
        </h1>
      </div>
      <div>
        <ul class="hero-buttons-list">
          <li class="hero-buttons-list__item">
            <a href="#" class="hero-buttons-list__link">Products</a>
          </li>
          <li class="hero-buttons-list__item">
            <a href="#" class="hero-buttons-list__link hero-buttons-list__link--second"
              >How it's made?</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
