<!-- HERO -->
<section class="section-hero">
  <div class="container section-hero__container">
    <div class="hero-box">
      <div class="hero-box__container">
        <div class="hero-title-box">
          <h1 class="hero-title">
            ice cream made with <span class="hero-title__accent">passion</span>
          </h1>
        </div>
        <div class="available-box">
          <ul class="available-list">
            <li class="available-list__item">
              <p class="available-list__number">16</p>
            </li>
            <li class="available-list__item">
              <p class="available-list__text">cafes</p>
            </li>
            <li class="available-list__item">
              <p class="available-list__number">23</p>
            </li>
            <li class="available-list__item">
              <p class="available-list__text">food trucks</p>
            </li>
          </ul>
        </div>
      </div>
      <ul class="hero-buttons-list">
        <li class="hero-buttons-list__item">
          <a href="#products" class="hero-buttons-list__link">Products</a>
        </li>
        <li class="hero-buttons-list__item">
          <a href="#how" class="hero-buttons-list__link hero-buttons-list__link--second"
            >How it's made?</a
          >
        </li>
      </ul>
      <div class="hero-text-box">
        <div class="text-box">
            <p class="hero-text-box__text active">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                ut labore et
            </p>
            <p class="hero-text-box__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                ut labore et
            </p>
        </div>

          <button type="button" class="hero-text-box__button" aria-label="open hidden text">
            <svg class="hero-icon">
                <use href="./images/sprite.svg#icon-arrow"></use>
            </svg>
            </button>
      </div>
    </div>
    <!-- PICTURE ICECREAM -->
    <picture class="hero-icecream-picture animate__animated animate__rotateIn">
      <source
        srcset="./img/hero-icecream-1280.png 1x, ./img/hero-icecream-1280@2x.png 2x"
        type="image/png"
        media="(min-width: 1280px)"
      />
      <source
        srcset="./img/hero-icecream-768.png 1x, ./img/hero-icecream-768@2x.png 2x"
        type="image/png"
        media="(min-width: 768px)"
      />
      <source
        srcset="./img/hero-icecream-480.png 1x, ./img/hero-icecream-480@2x.png 2x"
        type="image/png"
        media="(max-width: 767px)"
      />
      <img src="./img/hero-icecream-480.png" alt="icecream" />
    </picture>
    <!-- ELIPSE BIG -->
    <div class="hero-ellipse animate__animated animate__zoomIn"></div>
    <!-- PICTURE SO TASTY -->
    <picture class="hero-tasty-picture">
      <source
        srcset="./img/hero-tasty-1280.png 1x, ./img/hero-tasty-1280@2x.png 2x"
        type="image/png"
        media="(min-width: 1280px)"
      />
      <source
        srcset="./img/hero-tasty-768.png 1x, ./img/hero-tasty-768@2x.png 2x"
        type="image/png"
        media="(min-width: 768px)"
      />
      <img src="./img/hero-tasty-1280.png" alt="girl with icecream" />
    </picture>
    <!-- PICTURE MILK -->
    <picture class="hero-milk-picture">
      <source
        srcset="./img/hero-milk-1280.png 1x, ./img/hero-milk-1280@2x.png 2x"
        type="image/png"
        media="(min-width: 1280px)"
      />
      <source
        srcset="./img/hero-milk-768.png 1x, ./img/hero-milk-768@2x.png 2x"
        type="image/png"
        media="(min-width: 768px)"
      />
      <img src="./img/hero-milk-1280.png" alt="milk" />
    </picture>
  </div>
</section>
