<!-- HERO -->
<section class="section-hero">
  <div class="container container-hero">
    <div class="hero-box">
      <div class="hero-box__container">
        <div class="hero-title-box">
          <h1 class="hero-title">
            ice cream made with <span class="hero-title__accent">passion</span>
          </h1>
        </div>
        <div class="available-box">
          <ul class="available-list">
            <li class="available-list__item">
              <p class="available-list__number">16</p>
            </li>
            <li class="available-list__item">
              <p class="available-list__text">cafes</p>
            </li>
            <li class="available-list__item">
              <p class="available-list__number">23</p>
            </li>
            <li class="available-list__item">
              <p class="available-list__text">food trucks</p>
            </li>
          </ul>
        </div>
      </div>
      <div>
        <ul class="hero-buttons-list">
          <li class="hero-buttons-list__item">
            <a href="#" class="hero-buttons-list__link">Products</a>
          </li>
          <li class="hero-buttons-list__item">
            <a href="#" class="hero-buttons-list__link hero-buttons-list__link--second"
              >How it's made?</a
            >
          </li>
        </ul>
      </div>
      <div class="hero-text-box">
        <p class="hero-text-box__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <div class="hero-text-box__button">
          <a href="#">
            <img src="./icons/hero-arrow-button.png" class="hero-text-box__button--icon" alt="" />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
