<!-- modal about -->
<div class="about-backdrop" data-modal>
    <div class="about-modal">
        <div class="about-modal__close">
            <div class="leftright"></div>
            <div class="rightleft"></div>
        </div>
        <h3 class="about-modal__title">tradition and love</h3>
        <ul class="about-mosal__list">
            <li class="about-modal__item"><p class="about-modal__text">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus,faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</p></li> 
            <li class="about-modal__item"><p class="about-modal__text">Modio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.</p></li>
            <li class="about-modal__item"><p class="about-modal__text">Aliquam erat volutpat. Aenean accumsan.</p></li>
        </ul>

    </div>
</div>

<!-- modal buy now -->

<div class="backdrop-buy-now" data-modal>
    <div class="modal-buy-now">
        <div class="about-modal__close">
            <div class="leftright"></div>
            <div class="rightleft"></div>
        </div>
        <p class="form-title">
            To <span class="form-title__accent">order</span> fill
            <span class="form-title__accent">out</span> this <span class="form-title__accent">form</span>
        </p>
        <p class="form-title-five-min">and we will call you back within 5 minutes</p>
        <form class="buy-now-form">
            <label class="label-box">Name <input class="label-box__input" type="text" name="name" />
            </label>
            <label class="label-box">Phone <input class="label-box__input" type="tel" name="tel" />
            </label>
            <label class="label-box">Mail <input class="label-box__input" type="email" name="mail" />
            </label>
            <button type="submit" class="modal-button-submit">Submit</button>
        </form>
    </div>
</div>