<!-- modal about -->
<div class="about-backdrop about-backdrop_is-hidden" data-modal>
    <div class="about-modal">
        <button class="about-modal__close" type="button" data-modal-close>
            <div class="leftright"></div>
            <div class="rightleft"></div>
        </button>
        <h3 class="about-modal__title">tradition and love</h3>
        <ul class="about-mosal__list">
            <li class="about-modal__item"><p class="about-modal__text">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus,faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</p></li> 
            <li class="about-modal__item"><p class="about-modal__text">Modio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.</p></li>
            <li class="about-modal__item"><p class="about-modal__text">Aliquam erat volutpat. Aenean accumsan.</p></li>
        </ul>

    </div>
</div>