<div class="backdrop-buy-now backdrop-buy-now--hidden" data-modal-buy-now>
  <div class="modal-buy-now">
    <div class="about-modal__close" data-modal-buy-now-close>
      <div class="leftright"></div>
      <div class="rightleft"></div>
    </div>
    <p class="form-title">
      To <span class="form-title__accent">order</span> fill
      <span class="form-title__accent">out</span> this <span class="form-title__accent">form</span>
    </p>
    <p class="form-title-five-min">and we will call you back within 5 minutes</p>
    <form class="buy-now-form">
      <label class="label-box"
        >Name <input class="label-box__input" type="text" name="name" />
      </label>
      <label class="label-box"
        >Phone <input class="label-box__input" type="tel" name="tel" />
      </label>
      <label class="label-box"
        >Mail <input class="label-box__input" type="email" name="mail" />
      </label>
      <button type="submit" class="modal-button-submit">Submit</button>
    </form>
  </div>
</div>
