<div class="about-backdrop about-backdrop_is-hidden" data-modal>
    <div class="about-modal">
        <button class="about-modal__close" type="button" data-modal-close>
            <div class="leftright"></div>
            <div class="rightleft"></div>
        </button>
        <p class="title title_subtitle">try to cook yourself!</p>
        <p class="about__text about__text_modal">No ice cream maker? No problem! This simple 3-ingredient homemade ice cream base is the easiest way to make creamy ice
        cream that isn’t icy.</p> 

        <div class="recipe">
            <h3 class="recipe__title">Ingredients</h3>
            <ul class="recipe__list">
            <li class="recipe__item">1 c. half-and-half</li>
            <li class="recipe__item">2 tbsp. granulated sugar</li>
            <li class="recipe__item">1/2 tsp. pure vanilla extract</li>
            <li class="recipe__item">3 c. ice</li>
            </ul>
            <h3 class="recipe__title">Directions</h3>
            <p class="recipe__directions">In a small resealable plastic bag, combine half-and-half, sugar, and vanilla. Push out excess air and seal. <br>
            Into a large resealable plastic bag, combine ice and salt. Place small bag inside the bigger bag and shake vigorously, 7
            to 10 minutes, until ice cream has hardened. <br>
            Remove from bag and enjoy with your favorite ice cream toppings.</p>    
        </div>

        <svg class="icecream-icon"><use href=""></use></svg>
    </div>
</div>