<section class="products">
  <div class="container">
    <p class="title title_subtitle">100% natural</p>
    <h2 class="title">products</h2>
    <ul class="products-cardset">
      <li class="products-cardset__card">
        <h3 class="title title_product">ice cream</h3>
        <!-- <div class="circles-row">
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
        </div> -->
        <p class="products-cardset__descr">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <button type="button" class="products-btn">
          <svg class="icon-arrow">
            <use href="./images/sprite.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
      <li class="products-cardset__card">
        <h3 class="title title_product">ice coffee</h3>
        <!-- <div class="circles-row">
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
        </div> -->
        <p class="products-cardset__descr">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <button type="button" class="products-btn">
          <svg class="icon-arrow">
            <use href="./images/sprite.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
      <li class="products-cardset__card">
        <h3 class="title title_product">milkshakes</h3>
        <!-- <div class="circles-row">
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
        </div> -->
        <p class="products-cardset__descr">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <button type="button" class="products-btn">
          <svg class="icon-arrow">
            <use href="./images/sprite.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
