<section class="products">
  <div class="container">
    <p class="title title_subtitle">100% natural</p>
    <h2 class="title">products</h2>
    <ul class="products-cardset">
      <li class="products-cardset__card">
        <picture>
          <source
            srcset="./images/desktop/product1.webp 1x, ./images/mobile/product1@2x.webp 2x"
            type="image/webp"
            media="(min-width: 1280px)"
          />
          <source
            srcset="./images/desktop/product1.png 1x, ./images/mobile/product1@2x.png 2x"
            media="(min-width: 1280px)"
          />
          <source
            srcset="./images/tablet/product1.webp 1x, ./images/mobile/product1@2x.webp 2x"
            type="image/webp"
            media="(min-width: 768px)"
          />
          <source
            srcset="./images/tablet/product1.png 1x, ./images/mobile/product1@2x.png 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="./images/mobile/product1.webp 1x, ./images/mobile/product1@2x.webp 2x"
            type="image/webp"
            media="(max-width: 767px)"
          />
          <source
            srcset="./images/mobile/product1.png 1x, ./images/mobile/product1@2x.png 2x"
            media="(max-width: 767px)"
          />
          <img
            class="products-cardset__img"
            src="./images/desktop/product1.png"
            alt="Ice cream"
            width="337"
          />
        </picture>
        <h3 class="title title_product">ice cream</h3>
        <div class="circles-row">
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
        </div>
        <p class="products-cardset__descr">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <button type="button" class="products-btn">
          <svg class="icon-arrow">
            <use href="./images/sprite.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
      <li class="products-cardset__card">
        <picture>
          <source
            srcset="./images/desktop/product2.webp 1x, ./images/mobile/product2@2x.webp 2x"
            type="image/webp"
            media="(min-width: 1280px)"
          />
          <source
            srcset="./images/desktop/product2.png 1x, ./images/mobile/product2@2x.png 2x"
            media="(min-width: 1280px)"
          />
          <source
            srcset="./images/tablet/product2.webp 1x, ./images/mobile/product2@2x.webp 2x"
            type="image/webp"
            media="(min-width: 768px)"
          />
          <source
            srcset="./images/tablet/product2.png 1x, ./images/mobile/product2@2x.png 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="./images/mobile/product2.webp 1x, ./images/mobile/product2@2x.webp 2x"
            type="image/webp"
            media="(max-width: 767px)"
          />
          <source
            srcset="./images/mobile/product2.png 1x, ./images/mobile/product2@2x.png 2x"
            media="(max-width: 767px)"
          />
          <img
            class="products-cardset__img"
            src="./images/desktop/product2.png"
            alt="Ice coffee"
            width="337"
          />
        </picture>
        <h3 class="title title_product">ice coffee</h3>
        <div class="circles-row">
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
        </div>
        <p class="products-cardset__descr">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
            aliqua facilisis.
        </p>
        <button type="button" class="products-btn">
          <svg class="icon-arrow">
            <use href="./images/sprite.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
      <li class="products-cardset__card">
        <picture>
          <source
            srcset="./images/desktop/product3.webp 1x, ./images/mobile/product3@2x.webp 2x"
            type="image/webp"
            media="(min-width: 1280px)"
          />
          <source
            srcset="./images/desktop/product3.png 1x, ./images/mobile/product3@2x.png 2x"
            media="(min-width: 1280px)"
          />
          <source
            srcset="./images/tablet/product3.webp 1x, ./images/mobile/product3@2x.webp 2x"
            type="image/webp"
            media="(min-width: 768px)"
          />
          <source
            srcset="./images/tablet/product3.png 1x, ./images/mobile/product3@2x.png 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="./images/mobile/product3.webp 1x, ./images/mobile/product3@2x.webp 2x"
            type="image/webp"
            media="(max-width: 767px)"
          />
          <source
            srcset="./images/mobile/product3.png 1x, ./images/mobile/product3@2x.png 2x"
            media="(max-width: 767px)"
          />
          <img
            class="products-cardset__img"
            src="./images/desktop/product3.png"
            alt="Milkshake"
            width="337"
          />
        </picture>
        <h3 class="title title_product">milkshakes</h3>
        <div class="circles-row">
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
        </div>
        <p class="products-cardset__descr">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <button type="button" class="products-btn">
          <svg class="icon-arrow">
            <use href="./images/sprite.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
