<section class="reviews">
    <div class="container">
        <ul class="customer-review">
            <li class="customer-review__item">
                <h2 class="title title_hidden">Customer Reviews</h2>
                <img class="customer-review__img" srcset="
                            ./img/customer/customer1.jpg 1x,
                            ./img/customer/customer1@2x.jpg 2x" src="./img/customer/customer1.jpg" alt="customer from Los Angeles"
                    width="85">
                <p class="customer-review__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
                <div class="customer-review__dots"></div>
                <p class="customer-review__descr">Emily, Los Angeles</p>
            </li>
            <!-- <li></li>
            <li></li> -->
        </ul>
    </div>
</section>