<section class="reviews">
    <div class="container">
        <div class="reviews__wrapper">
            <ul class="customer-review">
                <li class="customer-review__item">
                    <h2 class="title title_hidden">Customer Reviews</h2>
                    <img class="customer-review__img" srcset="
                        ./images/customer/customer1.png 1x,
                        ./images/customer/customer1@2x.png 2x" 
                        src="./images/customer/customer1.png" alt="customer from Los Angeles" width="85">
                    <p class="customer-review__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
                        sem. In
                        hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
                    <div class="customer-review__dots"></div>
                    <p class="customer-review__descr">Emily, Los Angeles</p>
                </li>
                <li class="customer-review__item">
                    <h2 class="title title_hidden">Customer Reviews</h2>
                    <img class="customer-review__img" srcset="
                                                                    ./images/customer/customer2.png 1x,
                                                                    ./images/customer/customer2@2x.png 2x"
                        src="./images/customer/customer2.png" alt="customer from New York" width="85">
                    <p class="customer-review__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
                        sem. In
                        hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
                    <div class="customer-review__dots"></div>
                    <p class="customer-review__descr">Lara, New York</p>
                </li>
                <li class="customer-review__item">
                    <h2 class="title title_hidden">Customer Reviews</h2>
                    <img class="customer-review__img" srcset="
                                                                    ./images/customer/customer3.png 1x,
                                                                    ./images/customer/customer3@2x.png 2x"
                        src="./images/customer/customer3.png" alt="customer from Texas" width="85">
                    <p class="customer-review__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
                        sem. In
                        hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
                    <div class="customer-review__dots"></div>
                    <p class="customer-review__descr">Nora, Texas</p>
                </li>
            </ul>
        </div>
    </div>
</section>
